<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="valkyrie_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="torsoYaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['torsoYaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="torsoPitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['torsoPitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="torsoRoll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['torsoRoll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightShoulderPitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightShoulderPitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightShoulderRoll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightShoulderRoll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightShoulderYaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightShoulderYaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightElbowPitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightElbowPitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightForearmYaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightForearmYaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightWristRoll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightWristRoll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rightWristPitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rightWristPitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
